[Unit]
Description=alertmanager-bot

[Service]
ExecStart=/etc/alertmanager-bot/alertmanager-bot 
WorkingDirectory=/etc/alertmanager-bot/
TimeoutSec=15
Restart=always
Environment=ALERTMANAGER_URL=http://127.0.0.1:9093
Environment=BOLT_PATH=/etc/alertmanager-bot/bot.db
Environment=LISTEN_ADDR=0.0.0.0:8080
Environment=STORE=bolt
Environment=TELEGRAM_ADMIN=XXXXXXXXX
Environment=TELEGRAM_TOKEN=XXXXXXXX
Environment=TEMPLATE_PATHS=/etc/alertmanager-bot/default.tmpl
Environment=http_proxy=XXXXXXXX:9090
Environment=https_proxy=XXXXXXX:9090

[Install]
WantedBy=multi-user.target
